In [46]:
import pandas as pd

df = pd.read_csv('age_premium_data.csv')
df.head()

   Age  Premium
0   25     1200
1   30     1350
2   35     1500
3   40     1700
4   45     1900

In [47]:
df

   Age  Premium
0   25     1200
1   30     1350
2   35     1500
3   40     1700
4   45     1900

In [48]:
x = df ['Age']

In [49]:
x

0    25
1    30
2    35
3    40
4    45
Name: Age, dtype: int64

In [50]:
y = df ["Premium"]

In [51]:
y

0    1200
1    1350
2    1500
3    1700
4    1900
Name: Premium, dtype: int64

In [52]:
from sklearn.model_selection import train_test_split
x_train,x_test, y_train,y_tes=train_test_split(x,y,test_size=0.2)

In [53]:
x_train

1    30
0    25
3    40
4    45
Name: Age, dtype: int64

In [54]:
x_test

2    35
Name: Age, dtype: int64

In [55]:
y_train

1    1350
0    1200
3    1700
4    1900
Name: Premium, dtype: int64

In [56]:
len(x_train)

4

In [57]:
len(y_train)

4